@font-face {
    font-family: psr;
    src: url(https://cdn.rawgit.com/AdithyaBhat17/zen.io/gh-pages/static/media/psr.eae9c18c.ttf);
}
*
{
    font-family: psr;
}
#home {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50vh;
}
.title {
    text-align: center;
    font-size: 5vw;
    color: white;
}
.sub_title {
    text-align: center;
    font-size: 2vw;
    color: white;
}
.icon {
    text-align: center;
}
@media(min-width:801px) and (max-width:1000px) {
    .title {
        font-size: 7vw;
   }
    .sub_title {
        font-size: 2vw;
   }
    .icon {
        margin-top: 2%;
        text-align: center;
   }
}
@media(min-width:601px) and (max-width:800px) {
    .title {
        font-size: 7vw;
   }
    .sub_title {
        font-size: 3vw;
   }
    .icon {
        margin-top: 3%;
        text-align: center;
   }
}
@media(max-width:600px) {
    .title {
        font-size: 8vw;
   }
    .sub_title {
        font-size: 4vw;
   }
    .icon {
        margin-top: 4%;
        text-align: center;
   }
}
@media(max-width:450px) {
    .title {
        font-size: 12vw;
   }
    .sub_title {
        font-size: 6vw;
   }
    .icon {
        margin-top: 5%;
   }
}
@media(max-width:320px) {
    .title {
        font-size: 14vw;
   }
    .sub_title {
        font-size: 6vw;
   }
    .icon {
        margin-top: 5%;
   }
}
@media(max-width:230px) {
    .title {
        font-size: 16vw;
   }
    .sub_title {
        font-size: 8vw;
   }
    .icon {
        margin-top: 5%;
   }
}
.iref {
    color: white !important;
}
ul.a {
    list-style-type: circle;   
}
.border
{
    border-left: 3px solid #33333355;
    border-right:3px solid #33333355;
}
.a {
    margin-left: 5%;
}
.atag
{
    color: black;
}
.atag:hover
{
    text-decoration: underline;
}
.head
{
    font-size: 3vw;
    border-bottom: 1px solid #ccc;
    font-family: Arvo, Monaco, serif;
    line-height: 1.3;
    font-weight: bold;
}
.contr
{
    text-align: center;
}
footer
{
    
  background-color: #333 !important;
}
.tab a
{
color: #161743 !important;
font-weight: bold;
}
.tabs .indicator
{
    background-color: #161743 !important;
}
@media(max-width:500px)
{
    .a
    {
        margin-left:15%;
    }
}
@media(min-width:400px)and (max-width:700px)
{
    .head
    {
        font-size:5vw;
    }
}
@media (max-width:399px)
{
    .head
    {
        font-size:8vw;
    }
}
